/* MISCELLANEOUS */
h1, h2 {
    margin: 20px 0px;
}



/* MENU SCREEN */
#gameListTitle {
    margin-bottom: 0px;
}
.gameListItem {
    margin: 5px 0px;
}



/* GAME SCREEN */
#textGameName {
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 10px;
}
#buttonGameLeave {
    display: inline-block;
}
#gameWrapper {
    width: 1010px;
    margin: auto;
}



/* GAME WRAPPER LEFT */
#gameWrapperLeft {
    float: left;
    margin-left: 100px;
    margin-right: 100px;
}
#gameTurnBar {
    text-align: center;
}
#textGameTurn {
    margin-bottom: 0px;
    display: inline-block;
}
#textGamePlayer1 {
    color: red;
    float: right;
    margin: 0px;
    margin-top: 15px;
}
#textGamePlayer2 {
    color: blue;
    float: left;
    margin: 0px;
    margin-top: 10px;
}
#ctx {
    margin: -100px;
}



/* GAME WRAPPER RIGHT */
#gameWrapperRight {
    width: 300px;
    margin-left: 10px;
    float: left;
}