/* MISCELLANEOUS */
h1, h2 {
    margin: 20px 0px;
}



/* MENU SCREEN */
#gameListTitle {
    margin-bottom: 0px;
}
.gameListItem {
    margin: 5px 0px;
}



/* GAME SCREEN */
#textGameName {
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 10px;
}
#buttonGameLeave {
    display: inline-block;
}
#gameWrapper {
    width: 1010px;
    margin: auto;
}

/* GAME WRAPPER */
#gameWrapperLeft {
    float: left;
    margin-left: 86px;
    margin-right: 86px;
}
#gameWrapperLeftHeader, #gameWrapperLeftFooter, #gameWrapperRightHeader {
    height: 100px;
    position: relative;
}
#gameTurnBar {
    text-align: center;
}
#textGameTurn {
    margin-bottom: 0px;
    display: inline-block;
}
.textGamePlayer {
    margin: 0px;
    position: absolute;
}
#textGamePlayer1 {
    color: red;
    bottom: 0px;
    right: 0px;
    margin-bottom: 10px;
}
#textGamePlayer2 {
    color: blue;
    left: 0px;
    margin-top: 10px;
}
#game {
    height: 500px;
    margin: 14px;
}
#ctx {
    margin: -100px;
}
#gameWrapperRight {
    width: 300px;
    margin-left: 10px;
    float: left;
}