/* MISCELLANEOUS */
h1, h2 {
    margin: 20px 0px;
}



/* GAME LIST */
#gameListTitle {
    margin-bottom: 0px;
}
.gameListItem {
    margin: 5px 0px;
}



/* GAME */
#gameWrapper {
    width: 502px;
    margin: auto;
}
#textGameName {
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 10px;
}
#buttonGameLeave {
    display: inline-block;
}
#gameTurnBar {
    text-align: center;
}
#textGameTurn {
    margin-bottom: 0px;
    display: inline-block;
}
#textGamePlayer1 {
    color: red;
    float: right;
    margin: 20px 0px;
}
#textGamePlayer2 {
    color: blue;
    float: left;
    margin: 20px 0px;
}
#ctx {
    padding: auto;
}